@model IndexVM[]

@{
    ViewBag.Title = "Employees List";
}

<ul>
    @foreach (IndexVM employee in Model)
    {
        <li>
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id" style=@(employee.ShowAsHighlighted ? "color: red;" : "")>@employee.Name</a>
        </li>
    }
</ul>